* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins";
}

/* Common */
a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    border-radius: 12px;
    background: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
/* ============ Header ============== */
.hero-wrap {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 90px);
    background: #e6f0ff;
}

/* Navbar */
.fixed-header {
    position: sticky;
    top: -26px;
    z-index: 1;
    padding-top: 26px;
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar .action {
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 8px 16px;
    color: #4f5361;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}

.hero .sub-title {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.01;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.18;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
    color: #5a6473;
}

.hero-cta {
    margin-top: 30px;
    min-width: 170px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
/* ============ Clients ============ */

.client {
    margin-top: 79px;
    padding: 43px 0 41px;
}

.client .row {
    display: flex;
    justify-content: space-between;
}

.client .desc {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
    color: #7d8589;
}

.client .row-desc {
    margin-top: 23px;
}

.client .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.client .images a:hover {
    box-shadow: 0px 10px 20px rgba(0 0 0 / 0.1);
}
.client .images a {
    display: flex;
    align-items: center;
    padding: 0 42px;
    height: 91px;
    border-radius: 12px;
}

/* ============ Guides ============ */

.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .sub-title {
    position: relative;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    color: #000339;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.guides .desc {
    width: 459px;
    margin: 20px auto 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    color: #5a6473;
}

.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.guide-item {
    margin: 0 70px;
    text-align: center;
}

.guide-item .title {
    margin-top: 26px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
    color: #3b3c45;
}

.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #0689ff;
}

.guide-item .arrow {
    margin-left: 6px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ============ Featured ============ */

.featured {
    padding: 110px 0;
    margin-top: 41px;
    background: #f5fafe;
}

.featured .sub-title {
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
    color: #000339;
}

.featured .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.featured .desc {
    --line-clamp: 3;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88; /* 187.5% */
    word-break: break-all;
    color: #5a6473;
}

.featured .link {
    font-size: 1.8rem;
    font-weight: 600;
    color: #0689ff;
}

.featured .arrow {
    margin-left: 8px;
}

.featured .list {
    display: flex;
    gap: 30px;
    margin-top: 68px;
}

.featured .item {
    border-radius: 12px;
    background: #fff;
    flex: 1;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .item .title a {
    margin-top: 17px;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #000339;
}

.featured .item .desc {
    margin-top: 11px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    color: #a3a6ab;
}

.featured .item .body {
    margin: 17px 20px 24px;
}

.featured .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}

.featured .item .icon {
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
    color: #444;
}

/* ============ Stats ============ */

.stats {
    margin-top: 75px;
    padding: 50px 0;
}

.stats .row {
    display: flex;
}

.stats .content {
    width: 1048px;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}

.stats-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    border-radius: 0px 0px 12px 12px;
    padding: 45px 22px 40px 22px;
    background: #ffffff;
    box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}

.stats-trend .value {
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: 0.01;
    color: #000339;
}

.stats-trend .icon {
    margin-left: auto;
}

.stats-trend .desc {
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats-trend .seperate {
    margin-top: 25px;
    height: 1.2px;
    background: #e9e9e9;
}

.stats-trend .avatar-block {
    display: flex;
    gap: 16px 14px;
    flex-wrap: wrap;
    margin-top: 26px;
}

.stats-trend .avatar-group {
    display: flex;
}

.stats-trend .avatar:first-child {
    margin-left: 0;
}

.stats-trend .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    border-radius: 50%;
    background: var(--bg-color, #0689ff);
    color: #fff;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 450;
    letter-spacing: 0.02;
    line-height: 16px;
}

.stats .info {
    padding: 79px 0 0 165px;
}

.stats .sub-title {
    position: relative;
    color: #000339;
    width: 269px;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.28;
}

.stats .sub-title::before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    color: #5a6473;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87;
}

.row-qty {
    justify-content: space-between;
    margin-top: 110px;
    margin-left: 32px;
}

.stats .qty {
    color: #000;
    font-size: 6.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.stats .qty-desc {
    margin-top: 24px;
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
}
/* =========== Subscripton  ========== */

.subscription {
    margin-top: 90px;
}

.subscription .body {
    position: relative;
    display: flex;
    align-items: center;
    height: 370px;
    border-radius: 20px;
    background: #063183;
}

.subscription .info {
    width: 671px;
    max-width: 671px;
    padding: 0 80px;
}

.subscription .sub-title {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1.5;
}

.subscription .desc {
    margin-top: 15px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
    opacity: 0.75;
}

.subscription .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #fff;
    color: #002366;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.subscription .image {
    position: absolute;
    bottom: 0px;
    right: 221px;
}

/* ========== Footer ========= */

.footer {
    margin-top: 55px;
    padding: 50px 0 58px;
}

.footer .row {
    display: flex;
    gap: 185px;
}

.footer .heading {
    color: #1c1c1d;
    font-family: "Lato", sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

.footer .list,
.footer .desc {
    margin-top: 42px;
}

.footer .item {
    margin-top: 18px;
}

.footer .item a,
.footer .desc {
    color: #7a7a7e;
    font-size: 1.6rem;
    font-weight: 400;
    white-space: nowrap;
}

.footer .desc {
    white-space: normal;
    line-height: 1.75;
}

.footer .social {
    display: flex;
    margin-top: 40px;
}

.footer .social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    border-radius: 3px;
    background: #f9f9f9;
}

.footer .social-link + .social-link {
    margin-left: 16px;
}

.footer .social-link:hover {
    background: #eaeaea;
}

.footer .row-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 81px;
}

.footer .copyright {
    color: #c2c2c2;
    font-size: 1.4rem;
    font-weight: 400;
}
